html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
:root {
    /* text color */
    --title-text-color: #151618;
    --text-white-color: #fff;

    /* bg color */
    --primary-bg-color: #fff;
    --second-bg-color: #F7F2EA;

    /* fonts */
    --base-fonts-family: 'Open Sans', sans-serif;
    --deco-fonts-family: 'Cormorant', serif;
}
html, 
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}

.open{
    background-color: #000;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    padding: 0;
    border: none;
    background-color: transparent;
}
ul{
    list-style: none;
}
.title{
    text-align: center;
    margin-bottom: 60px;
    font-family: var(--deco-fonts-family);
    font-size: 40px;
    font-weight: 400;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
body{
    font-family: var(--base-fonts-family);
    /* color: var(--title-text-color); */
    font-size: 20px;
    font-weight: 300;
    /* line-height: 1.5; */
    line-height: normal;
    position: relative;
    transition: background-color .3s ease;
}
body.light-theme{
    color: var(--title-text-color);
    background-color: #fff;
}
body.dark-theme{
    background-color: var(--title-text-color);
    color: #fff;
}
.change-theme {
    border: 1px solid var(--title-text-color);
    color: var(--title-text-color);
    padding: 12px 20px 10px;
    cursor: pointer;
    text-transform: uppercase;
}

body.dark-theme .change-theme{
    border: 1px solid #fff;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-width: 140px;
}
.logo {
    margin-bottom: 35px;
}
.dark-theme .logo{
    fill: #fff;
}
/* burger */
.menu__btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu--close{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    /* z-index: 1; */
    z-index: 3;
    transition: background-color .3s ease;
}
.menu--close.menu--open{
    display: block;
}
.mobile-nav, .menu__close {
    display: none;
}
.menu__btn span{
    background-color: #000;
    height: 2px;
    width: 100%;
}
.dark-theme .menu__btn span{
    background-color: #fff;
}
/* ------ */

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}
.menu__item:hover {
    /* color: #754E29; */
}
.menu__link:hover {
    color: #754E29;
}
.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.user-actions__item {
}
.user-actions__item-search{
    margin-left: 80px;
}
.user-action__link:hover svg{
    fill: #754E29;
}
.dark-theme .user-action__link svg{
    fill:  #fff;
}
.dark-theme .user-action__link:hover svg{
    fill: #754E29;
}
/* ------ */

/* перемикач теми */

.icon-moon {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  /* fill: #111; */
  fill: #151618;
}

.icon-sun {
    position: absolute;
    z-index: 1;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  fill: #eac645;
}
.switch {
  /* margin-left: auto;
  margin-right: 14px; */
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* @media screen and (min-width: 768px) {
  .switch {
    margin-right: 24px;
  }
} */

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%); */
  background-color: transparent;
  /* box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1); */
  -webkit-transition: 400ms;
  transition: 400ms;
  border: 2px solid #151618;
  background-color: #FFF;
}

.slider:before {
  position: absolute;
    /* z-index:5; */
    z-index:2;
  content: '';
  height: 16px;
  width: 18px;
  /* left: 1px; */
  bottom: 1px;
  top: 0;
  /* background-color: white; */
  background-color: #FFF;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.dark-theme .slider:before{
 background-color: #151618;
 
}
.dark-theme .slider{
 
  border: 1px solid #Fff;
}
input:checked + .slider,
input:checked + .slider {
  /* background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%); */
    background-color: transparent;
  /* box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1); */
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 35px;
}
.slider.round:before {
  border-radius: 50%;
}

/* .header-profile-wrapper {
  display: none;
  position: relative;
} */
/* ----------- */


.main {
}
.top {
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}
.container {
}
.top__inner {
    min-height: 500px;
    color: var(--text-white-color); 
    font-family: var(--deco-fonts-family);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top__title {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}
.top__text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
}
.blockquote {
    
}
.blockquote__text {
    text-align: center;
    /* color: var(--title-text-color); */
    font-family: var(--deco-fonts-family);
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    max-width: 704px;
    margin: 150px auto;
}
/* -----assortment------ */

.assortment {
    margin-bottom: 150px;
}
.container {
}
.assortment__list {
    text-align: center;
    display: flex;
    gap: 0 40px;
    /* flex-wrap: wrap; */
}
.assortment__item {
}
.assortment__img {
    max-width: 208px;
    max-height: 208px;
    width: 100%;
}
.assortment__name {
    padding-top: 10px;
    font-family: var(--deco-fonts-family);
    font-size: 24px;
    font-weight: 400;
}

/* -----reviews------ */
.reviews {
    background-color: var(--second-bg-color);
    padding: 60px 0;
}
.dark-theme .reviews {
    color: var(--title-text-color);
}

.title {
}
.reviews__list {
    display: flex;
    gap: 0 26px;
    justify-content: center;

}
.reviews__item {
    flex-basis: 280px;
}
.reviews__text {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}
.reviews__name {
    font-weight: 600;
}

.main-blog {
    padding: 150px 0;

}
.container {
}
.title {
}
.main-blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 58px;
}
.main-blog__item {
    flex-basis: 542px;
    display: flex;
    gap: 0 20px;
}
.main-blog__item-img {
}
.main-blog__item-content {
    display: flex;
    flex-direction: column;
}
.main-blog__item-title {
    font-size: 24px;
    font-family: var(--deco-fonts-family);
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 86px;
}
.main-blog__item-author {
    font-size: 13px;
}
.main-blog__item-link {
    font-size: 13px;
    margin-top: auto;
    position: relative;
}
.main-blog__item-link::after{
    content: '';
    position: absolute;
    background-image: url(../images/arrow_right.svg);
    width: 5px;
    height: 10px;
    margin-left: 8px;
    bottom: 3px;
}
.main-blog__link {
    padding: 12px 41px;
    display: flex;
    justify-content: center;
    margin: 72px auto 0;
    border: 1px solid var(--title-text-color);
    /* background: var(--primary-bg-color); */
    width: 152px;
}
.main-blog__link:hover {
    background-color: #F7F2EA
}
.dark-theme .main-blog__link{
    border: 1px solid #fff;
}
.mailing-list {
    padding: 100px 0;
    background-color: var(--second-bg-color);
    background-image: url(../images/tea-mailing-bg\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.dark-theme .mailing-list {
    color: var(--title-text-color);
}

.mailing-list__title {
    text-align: left;
    margin-bottom: 50px;
}
.mailing-list__inner {
    display: flex;
    gap: 60px 40px;
}
.mailing-list__text {
    line-height: 1.5;
    flex-basis: 580px;

}
.mailing-list__form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 580px;
    justify-content: space-between;
}
.mailing-list__form-inner {
    display: flex;
    justify-content: space-between;
    flex-basis: 580px;
}
.mailing-list__email {
    border: none;
    border-bottom: 1px solid #B8B58B;
    background-color: transparent;
    padding: 3px 15px;
    width: 438px;
    margin-right: 25px;
    font-family: var(--base-fonts-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: var(--title-text-color);
}
.mailing-list__email::placeholder {
    font-family: var(--base-fonts-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: #B8B58B;
}
.mailing-list__btn {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--title-text-color);
    font-family: var(--base-fonts-family);
    padding: 12px 41px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    height: 52px;
}
.mailing-list__btn:hover {
    background-color: transparent;
}
.dark-theme .mailing-list__btn {
    background-color: transparent;
}
.mailing-list__label{
    margin-top: 16px;
    
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    padding-left: 20px;
}
.checkbox:checked + .checkbox-style::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--title-text-color);
    top: 1px;
    left: 1px;
}
.checkbox-style {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid var(--title-text-color);
    margin-top: 5px;
}
.checkbox__text {
    font-size: 13px;
    padding-left: 20px;
}

/* ------ */
.prioritise {
    padding: 150px 0;
}
.prioritise__list {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 49px;
}
.prioritise__item {
}
.prioritise__title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}
.prioritise__text {
    margin-bottom: 30px;
    font-weight: 600;

}


/* ------ */

.footer {
    padding: 100px 0 20px;
    background-color: var(--second-bg-color);
}
.container {
}
.footer__inner {
    margin-bottom: 100px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 40px;
}
.dark-theme .footer__inner {
    color: var(--title-text-color);
}
.footer__products {
}
.footer__products-title, .footer__company-title, .footer__contacts-title {
    font-size: 24px;
    font-family: var(--deco-fonts-family);
    margin-bottom: 50px;
    font-weight: 400;
}
.footer__products-item, .footer__company-item {
    margin-bottom: 20px;
}
a.footer__products-link:hover, a.footer__company-link:hover {
    color: #754E29;
}
.footer__company {
}
.footer__company-title {
}
.footer__company-item {
}
.footer__company-link {
}
.footer_blockquote {
}
.footer_blockquote-text {
    margin-top: 80px;
    margin-bottom: 20px;
    font-style: italic;
}
.footer_blockquote-author {
    font-size: 12px;
    font-style: normal;
}
.footer_blockquote-author span{
    display: block;
}
.footer__contacts {
}
.footer__contacts-title {
}
.footer__contacts-text {
    font-size: 13px;
    margin-bottom: 20px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
}
.footer__nav-logo {
    margin-right: 40px;
}
.footer__logo {
}
.footer__nav-contacts {
    margin-top: 20px;
}
.footer__nav-phone, .footer__nav-email {
    font-size: 13px;
    position: relative;
    padding-left: 32px;
    display: block;
    margin-bottom: 20px;
}
.footer__nav-phone:hover, .footer__nav-email:hover {
    color: #754E29;
}
.footer__nav-phone::before, .footer__nav-email::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 22px;
    height: 16px;
    background-image: url(../images/email.svg);
}
.footer__nav-phone::before{
    background-image: url(../images/phone.svg);
    width: 21px;
    height: 21px;
}
/* .footer__nav-phone::before svg:hover, .footer__nav-email::before svg:hover {
    fill: #754E29;
} */
.footer__nav-email {
}
.footer__social {
    margin-top: 40px;
    margin-left: 97px;
}
.footer__social-list {
    display: flex;
    text-align: center;
    gap: 0 20px;
    height: 22px;
}
.footer__social-item {
}
.footer__social-link svg:hover{
    /* display: grid; */
    fill:#754E29;
}
.footer__bottom {
    display: flex;
}
.dark-theme .footer__bottom {
    color: var(--title-text-color);
}
.mastercard{
    margin-top: 10px;
}
.footer__copy {
    margin-right: 192px;
    font-size: 16px;
    margin-top: 12px;
}
.partners-logo {
    display: flex;
    align-items: center;
    gap: 0 20px;
    /* margin-bottom: 10px; */
}
.partners-logo__item {
}
@media (max-width: 1240px) { 
.mailing-list__email {
    width: 350px;
}
}
@media (max-width: 1180px) {
     .main-blog__item{
       flex-basis: 542px;
    }
    .main-blog__item-img{
        max-width: 270px;   
    }
    .main-blog__list{
        /* justify-content: center; */
        gap: 30px 20px;
    }
    .main-blog__item:nth-child(even){
       margin-left: 540px; 
    }
    
}
@media (max-width: 1080px) {
    .main-blog__item:nth-child(even){
       margin-left: 420px; 
    }
}
@media (max-width: 1000px) { 
    /* .title{
        margin-bottom: 30px;
    }  */
    .user-actions__item-search{
        /* margin-left: 30px; */
        margin-left: 10px;
}
    .menu {
        margin-right: auto;
}
    .menu__list {
        margin-left: 60px;
}
    .logo{
        margin-bottom: 0;
}
    .header__inner{
        min-height: auto;
    }
    .blockquote__text {
        margin-top: 120px;
        margin-bottom: 135px;
    }
    .assortment{
        margin-bottom: 120px;
    }
    .assortment__list {
        gap: 0;
    }
    .reviews__item--hide{
    display: none;
    }

    .main-blog{
        padding: 120px 0;
    }
    /* .main-blog__list{
        gap: 67px 20px;
    } */
    .main-blog__item{
        flex-basis: 460px;
    }
    .main-blog__item-img{
        max-width: 230px;
    }
    .main-blog__link{
        margin-top: 60px;
    }

    .mailing-list__inner{
        flex-wrap: wrap;
        justify-content: center;   
    }
    .mailing-list{
        padding: 60px 0;
    }
    .mailing-list__title{
        text-align: center;
    }
    .mailing-list__text{
        text-align: center;
        flex-basis: 780px;
    }
    .prioritise{
        padding: 120px 0;
    }
    .prioritise__list{
        gap: 30px 210px;
    }
    .footer__blockquote{
        width: 270px;
    }
    .footer_blockquote-text{
        margin-top: 0;
    }
    .footer__inner{
        margin-bottom: 55px;
    }
    .footer__copy{
        margin-right: 125px;
    }
    .footer__nav-logo{
        margin-right: 35px;
    }
    .footer__contacts{
        width: 270px;
    }
}
/* @media (max-width: 980px) {
     .main-blog__item{
       flex-basis: 542px;
    }
    .main-blog__item-img{
        max-width: 270px;   
    }
    .main-blog__list{
        gap: 30px 20px;
    }
    .main-blog__item:nth-child(even){
       margin-left: 290px; 
    }
} */
@media (max-width: 900px) {
    .menu__list {
            gap: 0 40px;
    }
    .main-blog__item:nth-child(even){
       margin-left: 250px; 
    }
}
@media (max-width: 860px) { 
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: var(--text-white-color);
        display: block;
        text-align: center;
        padding-top: 60px;
        transition: transform .7s ease;
    }
    .dark-theme .menu__list{
        background-color: #151618;
    }
    .menu__list.menu__list--open{
        transform: translateY(0%);
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;    
    } 
    .menu__item{
        margin-bottom: 30px;
        font-size: 24px;
        font-family: var(--deco-fonts-family);
    }
    .mobile-menu{
        padding-top: 60px;
        margin: 60px 30px;
        border-top: 2px solid#F7F2EA;
    }
    .mobile-actions{
        background-color: var(--footer-bg-color);
        height: 60px;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dark-theme li.mobile-actions__item svg{
        fill: #754E29;
    }
    .menu__btn{
        display: flex;
    }
    .mobile-nav, .menu__close {
        display: block;
    }
    .menu{
        order: -1;
        margin-right: 0;
    }
    .mobile-menu__item{
        margin-bottom: 35px;
    }
    .logo{
        margin-left: auto;
        margin-right: 154px;
    }
    .main-blog__item:nth-child(even){
       /* margin-left: 200px;  */
    } 
    
}
@media (max-width: 768px) {
    .header__inner{
        padding-left: 64px;
        padding-right: 64px;
    } 
    .blockquote__text {
        max-width: 640px;
    } 
    .assortment__list {
        /* gap: 0 6px; */
        flex-wrap: wrap;
        justify-content: center;
    }
    .reviews__item--hide{
        display: block;
    }
    .reviews__list{
        flex-wrap: wrap;
        gap: 30px 76px;
    }
    .main-blog__item{
       flex-basis: 642px;
    }
    /* .main-blog__item-img{
        max-width: 270px;   
    }
    .main-blog__list{
        gap: 30px 20px;
    }*/
    .main-blog__item:nth-child(even){
       margin-left: 98px; 
    } 

    .mailing-list__text{
        flex-basis: 640px;
    }
    .prioritise__list{
        gap: 30px 133px;
    }
    .footer__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .footer__products, .footer__company{
        grid-row: span 3;
    }
    .footer__contacts{
        grid-column: 3 /4;
        grid-row: 2 /3;
    }
}

@media (max-width: 680px) {
     .container{
        padding-left: 10px;
        padding-right: 10px;
     } 
     .header__inner{
        padding-left: 0;
        padding-right: 0;
     }
     .top__title{
        font-size: 40px;
     }
     .blockquote__text {
        font-size: 16px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .reviews__item{
        flex-basis: 220px;
    }
    .reviews__list{
        gap: 30px 20px;
    }
    .main-blog__item:nth-child(even){
        margin-left: 0; 
    }
    .mailing-list__text{
        /* flex-basis: 460px; */
        flex-basis: 100%;
    }
    .mailing-list__email::placeholder {
    font-size: 14px;
    
}
    .footer__inner {
        gap: 0 15px;
    }
    .footer_blockquote-text {
        font-size: 16px;
    }
    .footer__company-link {
        font-size: 16px;
    }
    .footer__products-link {
        font-size: 16px;
    }
}
@media (max-width: 520px) { 
    .mailing-list__text{
        /* flex-basis: 300px; */
        flex-basis: 100%;
    }
    .mailing-list__form {
        /* flex-basis: 300px; */
        /* flex-basis: 100%; */
    }
    .mailing-list__form-inner {
    
    /* flex-basis: 300px; */
    }
    .mailing-list__email {
        /* width: 200px; */
        width: 324px;
        margin-right: 20px;
    }
}
@media (max-width: 480px) {  
    .logo{
        margin-right: 80px;
    }
    .logo img{
        width: 40px;
    }
    .menu__list{
       width: 360px; 
    }
    .assortment{
        margin-bottom: 60px;
    }
    .assortment__img{
        max-width: 170px;
    }
    /* .title{
        margin-bottom: 30px;
    } */
    .reviews{
        padding: 50px 0;
    }
    .reviews__item{
        flex-basis: 200px;
    }
    .reviews__list{
        gap: 30px 10px;
    }
    .main-blog {
        padding: 60px 0;
    }
    .main-blog__item-img{
        max-width: 220px;   
    }
    .mailing-list{
        padding: 50px 0;
    }
    .mailing-list__text{
       /* flex-basis: 100%; */
       font-size: 14px;
    }
    .mailing-list__inner{
        gap: 30px 0;
    }
    .mailing-list__email{
        width: 290px;
        margin-right: 20px;
    }
    .mailing-list__btn{
        padding: 10px 39px;
    }
    .checkbox__text {
    font-size: 12px;
}
    .prioritise{
        padding: 60px 0;
    }
    .footer__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .footer__blockquote{
        width: 100%;
    }
    .footer_blockquote-text {
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .footer__contacts{
        margin-top: 50px;
        width: 100%;
    }
    .footer__contacts-title{
        margin-bottom: 20px;
        text-align: center;
    }
    .footer__contacts-text{
        text-align: center;
    }
    .footer__nav{
        flex-wrap: nowrap;
    }
    .footer__social{
        margin-left: 30px;
    }
    .footer__copy{
        margin-right: auto;
    }
    .footer__products{
        margin-right: auto;
        padding-right: 20px;
    }
    .footer__company{
        padding-right: 20px;
        margin-right: 55px;
    }
    .footer__products-title, .footer__company-title{
        margin-bottom: 30px;
    }
    .footer{
        padding: 50px 0 10px;
    }
}
@media (max-width: 440px) {
    .menu__list {
        width: 300px;
    } 
    .user-actions {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .reviews__item{
        flex-basis: 165px;
    }
    .mailing-list__email{
        width: 220px;
    }
    .main-blog__item-img{
        max-width: 160px;   
    }
    .footer__nav{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 360px) { 
    .logo{
        margin-right: 50px;
    } 
    .user-actions__item-search{
        margin-left: 0;
    }
    .header__inner{
        padding: 10px 0;
    }
    .top__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .top__text{
        font-size: 13px;
        margin-bottom: 30px;
    }
    .top__inner{
        min-height: 367px;
    }
    .blockquote__text {
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }
    .title{
        margin-bottom: 30px;
        font-size: 24px;
    }
    .assortment{
        margin-bottom: 80px;
    }
    .assortment__img{
        max-width: 155px;
    }
    .reviews__item{
        flex-basis: 100%;
    }
    .reviews__item:first-child,.reviews__item:last-child{
        display: none;
    }
    .main-blog{
        padding: 50px 0;
    }
    .main-blog__item{
        display: block;
        max-width: 270px;
    }
    .main-blog__item-img{
        max-width: 100%;
    }
    .main-blog__item:nth-child(even){
       display: none; 
    }
    .main-blog__list{
        justify-content: center;
    }
    .main-blog__item-title{
        min-height: auto;
    }
    .mailing-list__email{
        width: 200px;
    }
    .prioritise{
        padding: 50px 0;
    }
    .prioritise__title{
        font-size: 20px;
    }
    .prioritise__text{
        font-size: 10px;
        font-weight: 400;
    }
    .prioritise__list{
        gap: 40px 100px;
    } 
    .footer__company{
        padding-right: 15px;
        margin-right: 0;
    } 
    /* .footer__nav{
        flex-wrap: wrap;
        justify-content: center;
    }   */
    .footer__products{
        padding-right: 10px;
    }
    .footer__social{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 360px) {
    .mailing-list__email{
        width: 180px;
    }
}